<div>
  <h1>Jumpoverjump</h1>

  <%= @turn %>
  <%= @last_move %>
  <.simple_form for={@form} phx-submit="move">
    <.input field={@form[:from]} value={@form.params.from} />
    <.input field={@form[:to]} value={@form.params.to} />
    <.button>Move</.button>
  </.simple_form>
</div>