<div ng-hide="passwordChanged">
    <form name="frmResetPassword" id="frmResetPassword">
        <div class="input-field col s12 m4 l3">
            <input id="password" type="password" class="validate" placeholder="{{'NEW_PASSWORD' | translate}}" ng-model="resetPasswordModel.newPassword"
                   required minlength="6" maxlength="40">
            <label for="password" translate="NEW_PASSWORD"></label>
        </div>
        <div class="input-field col s12 m4 l3">
            <input id="confirm_password" type="password" class="validate"
                   placeholder="{{'CONFIRM_PASSWORD' | translate}}" ng-model="resetPasswordModel.confirmPassword" required compare-to="resetPasswordModel.newPassword">
            <label for="confirm_password" translate="CONFIRM_PASSWORD"></label>
        </div>
        <div class="col s12">
            <sg-action errors="errors" action="resetPassword" action-form="frmResetPassword" action-label="'RESET_PASSWORD'"></sg-action>
        </div>
    </form>
</div>
<div ng-show="passwordChanged" class="col s12">
    <h5 translate="PASSWORD_CHANGED"></h5>
    <sg-sign-in-link></sg-sign-in-link>
</div>