<div class="col s12">
    <a ng-click="openForm()" translate="I_FORGOT_MY_PASSWORD"></a>
</div>
<div ng-show="open && !emailSent">
    <div class="col s12"><br /></div>
    <form name="frmSgIForgotMyPassword" id="frmSgIForgotMyPassword">
        <div class="input-field col s12">
            <input id="sgIForgotMyPasswordEmail" type="text" class="validate" placeholder="E-mail" ng-model="email" required>
            <label for="sgIForgotMyPasswordEmail" translate="I_FORGOT_MY_PASSWORD_EXPLAIN"></label>
        </div>
        <div class="col s12">
            <sg-action errors="errors" action="send" action-form="frmSgIForgotMyPassword" action-label="'SEND'"></sg-action>
        </div>
    </form>
</div>

<div ng-show="emailSent" class="col s12">
    <h5 translate="I_FORGOT_MY_PASSWORD_SENT_EMAIL"></h5>
</div>